appdirs==1.4.4
argon2-cffi==20.1.0
asciitree==0.3.3
asgiref==3.2.3
astroid==2.6.2
async-generator==1.10
attrs==19.3.0
azure-core==1.9.0
azure-storage-blob==12.5.0
backcall==0.1.0
beautifulsoup4==4.9.1
black==21.6b0
bleach==3.1.1
boto3==1.16.10
botocore==1.19.43
bs4==0.0.1
build==0.1.0
cachetools==4.2.0
cachey==0.2.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
cryptography==3.3.1
cssselect==1.1.0
cvideo==0.0.5
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
dill==0.3.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.2
django-crispy-forms==1.8.1
django-heroku==0.3.1
entrypoints==0.3
execute-517==0.1.4
fasteners==0.16
feedfinder2==0.0.4
feedparser==6.0.1
filelock==3.0.12
fsspec==0.8.4
gcsfs==0.6.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
greenlet==0.4.17
gunicorn==20.1.0
HeapDict==1.0.1
html5lib==1.1
hub==1.0.8
idna==2.10
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==5.9.2
jedi==0.16.0
jieba3k==0.35.1
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.7
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
Keras==2.4.3
kiwisolver==1.2.0
lazy-object-proxy==1.6.0
littleutils==0.2.2
lmdb==1.0.0
lxml==4.5.2
lz4==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mnist==0.2.2
msrest==0.6.19
mtcnn==0.1.0
multiprocess==0.70.11.1
mypy-extensions==0.4.3
mysql-connector==2.2.9
nbclient==0.5.0
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.4.0
newspaper3k==0.2.8
nltk==3.5
nose==1.3.7
notebook==6.0.3
nsvision==0.1.4
oauthlib==3.1.0
opencv-python==4.4.0.46
outdated==0.2.0
packaging==20.4
parso==0.6.2
pathos==0.2.7
pathspec==0.8.1
pep517==0.9.1
pickleshare==0.7.5
Pillow==8.0.1
playwright==0.142.3
pox==0.2.9
ppft==1.6.6.3
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.8.0
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyee==8.1.0
Pygments==2.5.2
pylint==2.9.3
PyMySQL==0.10.0
pyparsing==2.4.7
pyrsistent==0.15.7
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2019.3
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
regex==2020.10.15
requests==2.24.0
requests-file==1.5.1
requests-oauthlib==1.3.0
rsa==4.6
s3fs==0.4.2
s3transfer==0.3.3
sgmllib3k==1.0.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tinysegmenter==0.3
tksheet==4.9.96
tldextract==2.2.3
toml==0.10.2
tornado==6.0.3
tqdm==4.51.0
traitlets==4.3.3
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.25.9
utils==1.0.1
virtualenv==20.0.28
virtualenvwrapper-win==1.2.6
waitress==2.0.0
wcwidth==0.1.8
webencodings==0.5.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xmltodict==0.12.0
zarr==2.5.0
zipp==3.1.0
